{% extends "base.html" %}

{% block content %}

<form class="logout" action="/logout/" method="POST">{% csrf_token %}  
    <p>Logged In : <i><b>{{ user.badge }}</b> &nbsp;&nbsp;&nbsp;&nbsp; {{ date }}</i></p>
    <button type="submit" value="logout">Log Out</button>
</form>

<div class="tabs">
    <input type="radio" name="set1" id="search" checked="checked">
    <label class="tabs-label" for="search"><b>SEARCH</b></label>
    <div class="tab">
        <form action="" method="GET">
            <input type="text" placeholder="Enter Badge or Vehicle Number" name="query" />
            <input type="radio" id="in" name="clock" value=1></input>
            <label for="in">Clock In</label>
            <input type="radio" id="out" name="clock" value="0"></input>
            <label for="out">Clock Out</label>
            <input type="submit"/>
        </form>
        <div><p>&nbsp;<i>{{ results }}</i></p></div>
        {% if users|length > 0 %}
        <table>
            <thead>
            <tr>
                <th colspan="6">USER INFO</th>
            </tr>
            <tr>
                <th>Centre</th>
                <th>Badge</th>
                <th>Full Name</th>
                <th>Department</th>
                <th>Gender</th>
                <th>Contact Number</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.centre }}</td>
                <td>{{ user.badge }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.department }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.contact_number }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if vehicles|length > 0 %}
        <table>
            <thead>
            <tr>
                <th colspan="4">VEHICLE INFO</th>
            </tr>
            <tr>
                <th>Custom Id</th>
                <th>Vehicle No</th>
                <th>User</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.custom_id }}</td>
                <td>{{ vehicle.vehicle_no }}</td>
                <td>{{ vehicle.user.badge }}</td>
                <td>{{ vehicle.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>

    <input type="radio" name="set1" id="create">
    <label class="tabs-label" for="create"><b>CREATE</b></label>
    <div class="tab create">
        <form action="" method="POST">{% csrf_token %}
            <field>
                <label>Badge : </label>
                {{ user_form.badge }}
            </field>
            <field>
                <label>Full Name : </label>
                {{ user_form.full_name }}
            </field>
            <field>
                <label>Contact Number : </label>
                {{ user_form.contact_number }}
            </field>
            <field>
                <label>Gender : </label>
                {{ user_form.gender }}
            </field>
            <field>
                <label>Centre : </label>
                {{ user_form.centre }}
            </field>
            <field>
                <label>Department : </label>
                {{ user_form.department }}
            </field>
            <input type="submit" />
        </form>
        <div><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></div>

        <form action="" method="POST">{% csrf_token %}
            <field>
                <label>Vehicle No. : </label>
                {{ vh_form.vehicle_no }}
            </field>
            <field>
                <label>Custom Id : </label>
                {{ vh_form.custom_id }}
            </field>
            <field>
                <label>Type : </label>
                {{ vh_form.type }}
            </field>
            <field>
                <label>User : </label>
                {{ vh_form.user }}
            </field>
            <input type="submit" />
        </form>
        <div><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></div>
    </div>
</div>

<div><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></div>

<div class="tabs">
    <input type="radio" name="set2" id="current" checked="checked">
    <label class="tabs-label" for="current"><b>CLOCKED</b></label>
    <div class="tab">
        {% if movement_in|length > 0 %}
        <table>
            <thead>
            <tr>
                <th colspan="4">CLOCKED IN : {{movement_in|length}}</th>
            </tr>
            <tr>
                <th>Centre</th>
                <th>Badge</th>
                <th>Vehicle No</th>
                <th>Type</th>
                <th>Date</th>
                <th>In Time</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in movement_in %}
            <tr>
                <td>{{ mov.user.centre }}</td>
                <td>{{ mov.user.badge }}</td>
                <td>{{ mov.vehicle.vehicle_no }}</td>
                <td>{{ mov.vehicle.type }}</td>
                <td>{{ mov.date }}</td>
                <td>{{ mov.in_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>

    <input type="radio" name="set2" id="total">
    <label class="tabs-label" for="total"><b>ATTENDENCE</b></label>
    <div class="tab">
        {% if movement_all|length > 0 %}
        <table>
            <thead>
            <tr>
                <th colspan="5">TODAY ATTENDENCE : {{movement_all|length}}</th>
            </tr>
            <tr>
                <th>Centre</th>
                <th>Badge</th>
                <th>Vehicle No</th>
                <th>Date</th>
                <th>In Time</th>
                <th>Out Time</th>
            </tr>
        </thead>
        <tbody>
            {% for mov in movement_all %}
            <tr>
                <td>{{ mov.user.centre }}</td>
                <td>{{ mov.user.badge }}</td>
                <td>{{ mov.vehicle.vehicle_no }}</td>
                <td>{{ mov.date }}</td>
                <td>{{ mov.in_time }}</td>
                <td>{{ mov.out_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock content %}